/* Cabecalho */
#cabecalho {
    background-color: #169926;
    height: 115px;
    width: 100%;
    padding: 0%;
    margin-bottom: 50px ;
}

#cabecalho h1{
    margin-left: 5px;
}
#logo {
    margin: 5px 5px 0px 10px;;
}

/* navbar */
.navbar {
    height: 50px;
    background-color:;
}

.navbar form button {
    margin: 0 auto;
}

.btn-success {
    background-color: #37E54B;
}

/* Carrosel */
#carrosel{
    height: 400px;
    width: 100%;
}

.carousel-item {
    height: 400px;
    width: 100%;

}

.carousel-item img{
    height: 400px;
    width: 100%;


}

/* Wrapper */

#wrapper{
    margin: 5 auto;
}

/* Cards */
/* Tira o padding das imagens*/
.carta{
    padding: 0px;
}

